html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}


@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro:200');

body  {
  background-image: url('https://static.pexels.com/photos/414171/pexels-photo-414171.jpeg');
  background-size:cover;
  -webkit-animation: slidein 20s;
  animation: slidein 20s;

  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;

  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;

  -webkit-animation-direction: alternate;
  animation-direction: alternate;
}

@-webkit-keyframes slidein {
  from {background-position: top; background-size:3000px; }
  to {background-position: -100px 0px;background-size:2750px;}
}

@keyframes slidein {
  from {background-position: top;background-size:3000px; }
  to {background-position: -100px 0px;background-size:2750px;}

}

a {
  outline: none;
  text-decoration: none;
}

.ui {
  padding: 8px 15px;
}

.ui.primary.button,
.ui.primary.button:focus {
  background: #f2f2f2;
  border: 1px solid #f2f2f2;
  border-radius: 2px;
  font-weight: normal;
  color: #2c2c2c;
}

.ui.primary.button:hover {
  background: #c9c9c9;
}

.ui.primary.button:active {
  background: #b5b5b5;
}

.ui.secondary.button,
.ui.secondary.button:focus {
  background: #FFFFFF;
  border: 1px solid #f2f2f2;
  border-radius: 2px;
  font-weight: normal;
  color: #4d4d4d;
}

.ui.secondary.button:hover {
  background: #dbdbdb;
  color: #2c2c2c;
}

.ui.secondary.button:active {
  background: #dbdbdb;
  color: #2c2c2c;
}

footer {
  position: fixed;
  color: white;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #006400;
  text-align: right;
  padding: 7px;
}

