@{
    ViewData["Title"] = "Politique de Confidentialité de notre site:";
}
<style>
        body {
            font-family: Arial, sans-serif;
        }

        h1 {
            font-size: 36px;
            text-align: center;
            margin-bottom: 20px;
            text-decoration: underline;
            color: #1E8449;
        }

        h2 {
            font-size: 24px;
            margin-top: 30px;
            margin-bottom: 10px;
            text-decoration: underline;
            color: #935116;
        }

        p {
            text-align: justify;
            color: azure;
        }

        a {
            color: #007bff; 
            text-decoration: none;
        }

        a:hover {
            text-decoration: underline;
        }
        
        .button-container {
            text-align: center;
            margin-top: 30px;
        }
        
        .accept-button,
        .refuse-button {
            display: inline-block;
            padding: 10px 20px;
            margin: 0 10px;
            font-size: 16px;
            cursor: pointer;
            background-color: #1E8449;
            color: white;
            border: none;
            border-radius: 5px;
            text-decoration: none;
        }
        
        .refuse-button {
            background-color: #935116;
        }
            
         form {
             margin-top: 20px;
             font-family: Arial, sans-serif;
             max-width: 1000px;
             margin-left: auto;
             margin-right: auto;
             background-color: #f0f0f0;
             padding: 20px;
             border-radius: 5px;
         }
         
         label {
             display: block;
             margin-bottom: 5px;
             color: #1E8449;
         }
         
         input[type="email"],
         textarea {
              width: 100%;
              padding: 10px;
              margin-bottom: 10px;
              border: 1px solid #ccc;
              border-radius: 5px;
              resize: vertical;
         }
         
         textarea {
              height: 150px;
         }
         
         input[type="submit"] {
              padding: 10px 20px;
              font-size: 16px;
              cursor: pointer;
              background-color: #1E8449;
              color: white;
              border: none;
              border-radius: 5px;
         }   
             
             
    </style>
<h1>@ViewData["Title"]</h1>

<h2>Dernière mise à jour : 25/07/2023</h2>
<p>
    Nous accordons une grande importance à la protection de vos données personnelles et à votre vie privée. Cette politique de confidentialité vise à vous informer sur la manière dont nous collectons, utilisons, partageons et protégeons vos informations.
</p>

<h2>Informations que nous collectons : </h2>
<p>
    Nous pouvons collecter des informations personnelles identifiables lorsque vous visitez ou interagissez avec notre Site. Les informations que nous collectons peuvent inclure, sans s'y limiter :
   
    Votre nom, adresse e-mail, adresse postale et numéro de téléphone.
    Les informations que vous fournissez en remplissant des formulaires sur notre Site.
    Les informations concernant vos interactions avec notre Site, telles que les pages que vous visitez, les liens sur lesquels vous cliquez et les actions que vous effectuez.
    Utilisation des informations :
    Nous utilisons les informations que nous collectons pour les finalités suivantes :
   
    Fournir et améliorer nos services et fonctionnalités sur le Site.
    Vous envoyer des communications promotionnelles et des mises à jour si vous avez accepté de les recevoir.
    Répondre à vos demandes, questions ou commentaires.
    Partage des informations :
    Nous ne vendons, n'échangeons ni ne louons vos informations personnelles identifiables à des tiers. Cependant, nous pouvons partager vos informations avec des prestataires de services tiers qui nous aident à exploiter notre Site et à fournir nos services, sous réserve de leur engagement de protéger ces informations conformément à cette politique de confidentialité.
</p>

<h2>Cookies :</h2>
<p>   
    Notre Site utilise des cookies pour améliorer votre expérience. Les cookies sont de petits fichiers texte stockés sur votre appareil lorsque vous visitez notre Site. Ils nous permettent de vous reconnaître lors de vos visites ultérieures et de personnaliser notre contenu en fonction de vos préférences. Vous pouvez configurer votre navigateur pour qu'il refuse tous les cookies ou pour qu'il vous avertisse lorsque des cookies sont envoyés. Veuillez noter que certaines fonctionnalités de notre Site pourraient ne pas fonctionner correctement si vous désactivez les cookies.
</p>
   
<h2>Liens vers des sites tiers :</h2>
<p>
   Notre Site peut contenir des liens vers des sites web tiers. Nous ne sommes pas responsables des pratiques de confidentialité ou du contenu de ces sites. Nous vous recommandons de consulter les politiques de confidentialité de ces sites tiers avant de fournir des informations personnelles.
</p>   
<h2>Sécurité des données :</h2>
<p>
   Nous prenons des mesures raisonnables pour protéger vos informations personnelles contre la perte, l'utilisation abusive et l'accès non autorisé. Cependant, veuillez noter qu'aucune méthode de transmission sur Internet ou de stockage électronique n'est totalement sécurisée.
</p>   
<h2>Modifications de la politique de confidentialité :</h2>
<p>
   Nous pouvons mettre à jour cette politique de confidentialité à tout moment en publiant une version révisée sur notre Site. Veuillez consulter régulièrement cette page pour vous tenir informé de tout changement.
</p>
<h2>Contact :</h2>
<p>
    Si vous avez des questions, des commentaires ou des préoccupations concernant notre politique de confidentialité, veuillez nous contacter à <a href="mailto:mesouaksalaheddin@gmail.com">mesouaksalaheddin@gmail.com</a>.
</p>

<div class="letter-image">
  <div class="animated-mail">
    <div class="back-fold"></div>
    <div class="letter">
      <div class="letter-border"></div>
      <div class="letter-title"></div>
      <div class="letter-context"></div>
      <div class="letter-stamp">
        <div class="letter-stamp-inner"></div>
      </div>
    </div>
    <div class="top-fold"></div>
    <div class="body"></div>
    <div class="left-fold"></div>
  </div>
  <div class="shadow"></div>
</div>


<form method="post">
    <label for="email">Votre adresse e-mail :</label>
    <input type="email" id="email" name="email" required>
    <br>
    <label for="message">Votre message :</label>
    <textarea id="message" name="message" rows="4" required></textarea>
    <br>
    <input type="button" value="Envoyer" onclick="sendEmail()">
</form>

<script>
    function sendEmail() {
        const recipientEmail = "mesouaksalaheddin@gmail.com";
        const subject = "Nouveau message depuis le formulaire";
        const emailInput = document.getElementById("email");
        const messageInput = document.getElementById("message");

        const emailBody = `Adresse e-mail de l'expéditeur : ${emailInput.value}\n\n${messageInput.value}`;
        const mailToLink = `mailto:${recipientEmail}?subject=${encodeURIComponent(subject)}&body=${encodeURIComponent(emailBody)}`;

        window.location.href = mailToLink;
    }
</script>
<br/><br/>

<div class="button-container">
    <a class="refuse-button" href="/">Refuser</a>
    <a class="accept-button" href="/">Accepter</a>
</div>
<br/><br/><br/><br/>
